*{ 
    margin: 0;
    padding: 0;
}
header{
    background-image: url(img2.jpg.webp);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
ul{
    float: right;
    margin: 35px;

}
ul li{
    display: inline-block;
}
ul li a{
    color: beige;
    padding:  8px 20px;
    border: 1px solid #fff
}
ul li a:hover{
    background-color: aliceblue;
    color:black;
}
.title{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color:#fff;
    background-color: rgba(0,0,0,0.4);
    padding: 100px;
 
   
    
}